/* .home-picture {
    background-image: url("../images/pexels-ella-olsson-1640777.jpg");
    height: 100%;
    width: 100%;
} */

/* .home-picture {
    position: relative;
    text-align: center;
    color: white;
    font-size: 5em;
    padding-bottom: 60px;
} */